<div id='masteries-compact' class='masteries-compact'>
	<ul class='list-unstyled mastery-list'>
        <li>Ferocity: {{masteries.Ferocity}}</li>
        <li>Cunning: {{masteries.Cunning}}</li>
        <li>Resolve: {{masteries.Resolve}}</li>
    </ul>
</div>

<div id='masteries' class='masteries'>

	<div id='ferocity'>
		<div class='level1'>
			<div id='masteryId6111' class='normal grayscale' tooltip='Fury'><div class='rank'>0/0</div></div>
			<div id='masteryId6114' class='normal grayscale' tooltip='Sorcery'><div class='rank'>0/0</div></div>
		</div>
		<div class='level2'>
			<div id='masteryId6121' class='normal grayscale'></div>
			<div id='masteryId6122' class='normal grayscale'></div>
		</div>
		<div class='level3'>
			<div id='masteryId6131' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6134' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level4'>
			<div id='masteryId6141' class='normal grayscale'></div>
			<div id='masteryId6142' class='normal grayscale'></div>
		</div>
		<div class='level5'>
			<div id='masteryId6151' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6154' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level6'>
			<div id='masteryId6161' class='normal grayscale'></div>
			<div id='masteryId6162' class='normal grayscale'></div>
			<div id='masteryId6164' class='normal grayscale'></div>
		</div>
		<div class='level7'>
			Ferocity: 12
		</div>
	</div>

	<div id='cunning'>
		<div class='level1'>
			<div id='masteryId6311' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6312' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level2'>
			<div id='masteryId6321' class='normal grayscale'></div>
			<div id='masteryId6322' class='normal grayscale'></div>
			<div id='masteryId6323' class='normal grayscale'></div>
		</div>
		<div class='level3'>
			<div id='masteryId6331' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6332' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level4'>
			<div id='masteryId6342' class='normal grayscale'></div>
			<div id='masteryId6343' class='normal grayscale'></div>
		</div>
		<div class='level5'>
			<div id='masteryId6351' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6352' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level6'>
			<div id='masteryId6361' class='normal grayscale'></div>
			<div id='masteryId6362' class='normal grayscale'></div>
			<div id='masteryId6363' class='normal grayscale'></div>
		</div>
		<div class='level7'>
			Cunning: 18
		</div>
	</div>

	<div id='resolve'>
		<div class='level1'>
			<div id='masteryId6211' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6212' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level2'>
			<div id='masteryId6221' class='normal grayscale'></div>
			<div id='masteryId6223' class='normal grayscale'></div>
		</div>
		<div class='level3'>
			<div id='masteryId6231' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6232' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level4'>
			<div id='masteryId6241' class='normal grayscale'></div>
			<div id='masteryId6242' class='normal grayscale'></div>
		</div>
		<div class='level5'>
			<div id='masteryId6251' class='normal grayscale'><div class='rank'>0/0</div></div>
			<div id='masteryId6252' class='normal grayscale'><div class='rank'>0/0</div></div>
		</div>
		<div class='level6'>
			<div id='masteryId6261' class='normal grayscale'></div>
			<div id='masteryId6262' class='normal grayscale'></div>
			<div id='masteryId6263' class='normal grayscale'></div>
		</div>
		<div class='level7'>
			Resolve: 18
		</div>
	</div>

</div>