Options +FollowSymLinks

# Redirect currentgame references to the root directory
RewriteEngine On
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule .*currentgame.* http://leaguealot.com/?active=cg [QSA,R=302]

# RewriteRule .*active=cg.* http://leaguealot.com/currentgame/

# Old redirect
# Redirect 302 /currentgame http://leaguealot.com/