<div class='top-banner'>
    <div class="container">
        <a href='/' class='title-header'>Leaguealot</a><p class='small-header'>Everything you need in-game.</p>
    </div>
</div>

<div class="container main-container">
    {{outlet "top-right"}}
    
    {{outlet}}
</div>