<div class='banner'>
    <div class='container'>
        <a href='/' class='title-header'>Leaguealot</a>

        <p class='banner-small'>
            Everything you need in-game
        </p>
    </div>
</div>