<div class='banner'>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-6'>
                <a href='/' class='title-header'>Leaguealot</a>
            </div>

            <div class='col-sm-6 col-xs-12 small-header'>
                Everything you need in-game.
            </div>
        </div>
    </div>
</div>