<p class='title-header'>Leaguealot</p>
<div class="row currentgame">
    <div class="col-xs-13">

        <div class="row">
            <div class="col-xs-13 header">
                <h2>Game information</h2>
                <div class="input-group player-search-container">
                    <form>
                        {{input class="form-control player-search-input" placeholder="Search for player" value=playerName}}
                        <span class="input-group-btn">
                        <button class="btn btn-default" id="" {{ action "getData" }}>Go!</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        
        {{#if gameData}}
        <div class='row coreinfo'>
            <div class='col-xs-12'>
                <span class='info'>
                    Game time: 14:37
                </span>
                <span class='info'>
                    Ranked Solo 5x5
                </span>
                <span class='info'>
                    Summoner's rift
                </span>
            </div>
        </div>
        {{/if}}
        
        {{#each playerPairs as |pair|}}
             {{player-comp pair=pair}}
        {{/each}}
    </div>
</div>