<nav class="navbar navbar-static-top">
    <ul class="nav nav-pills">

        <li role="presentation"><a href="#">Home</a></li>

        <li role="presentation" class="dropdown">
            <a class="drodown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Choice1</a></li>
                <li><a href="#">Choice2</a></li>
                <li><a href="#">Choice2</a></li>
            </ul>
        </li>

        <li role="presentation"><a href="#" id='about'>About</a></li>
    </ul>
</nav>