<div class='startscreen'>
    <p>Welcome to Leaguealot. This site aims to deliver all the information you need while in game</p><br />
    <p class='search-header'>Search for ingame players</p>

    <form class="form-inline no-margin">
        <div class="form-group">
            <div class='arrow_box' id='search-message'>This field cannot be empty</div>

            {{input class="form-control" placeholder="Summoner name" value=summonerName}}
        </div>
        <button type="submit" class="btn btn-default" {{ action "proceedSearch" }}>Search</button>
    </form>

    <a href='' class='small-link' {{ action "randomGame" }}>(Or test the site with a featured game)</a>
</div>